*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}

header{
    display: flex;
    justify-content: space-between;
    margin-left:50px;
    
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: x-large;
}
li:hover{
    color:red;
    cursor:pointer;
}

nav{
    width:40vw;
    margin-bottom: 1rem;

}

.bigimg{
    margin-left:1rem;
    width: 95vw;
    margin-bottom: 4rem;
}

.container{
    display: flex;
}

.container>div{
    text-align: center;
    padding:2rem;
}

.container>div>p{
    font-size: x-large;
    line-height: 1.7rem;
}
h1{
    font-weight: normal;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    height: 4rem;
    font-size: x-large;
}
footer p{
    padding :.6rem;
}